<button class="return" mat-button (click)="returnBack()">
  <div class="back">
    <mat-icon mat-list-icon>keyboard_return</mat-icon>
    <h3>Volver</h3>
  </div>
</button>
<div class="song" *ngIf="this.audioService.maxIndex > 0 && this.audioService.showSong">
  <h3 *ngIf="this.audioService.currentFile.song.Categorias[0] === 'Podcast'; else song">Podcast</h3>
  <ng-template #song>
    <h3 *ngFor="let cat of this.audioService.currentFile.song.Categorias" [routerLink]="['/category', cat]" class="cat">
      <span *ngIf="this.audioService.currentFile.song.Categorias[0] != cat">, </span>
      {{ cat }}
    </h3>
    <br/>
  </ng-template>
  <a (click)="album()" style="cursor: pointer;">
    <img class="albumArt" [src]="this.audioService.currentFile.song.Imagen" alt="albumart">
  </a>
  <h2>{{ this.audioService.currentFile.song.Nombre }}</h2>
  <h3 *ngIf="this.audioService.currentFile.song.Categorias[0] === 'Podcast'; else art">Podcast</h3>
  <ng-template #art>
    <h3 *ngFor="let artist of this.audioService.currentFile.song.Artistas" [routerLink]="['/artist', artist]" class="artists">
      <span *ngIf="this.audioService.currentFile.song.Artistas[0] != artist">, </span>
      {{ artist }}
    </h3>
    <br/>
  </ng-template>
  <div class="line">
    {{ this.audioService.checkState().readableCurrentTime }}
    <mat-slider class="time-slider" min="0" [max]="this.audioService.checkState().duration" step="1" [value]="this.audioService.checkState().currentTime" (input)="onSliderChangeEnd($event)" [disabled]="this.audioService.checkState().error || this.audioService.currentFile.index === undefined"></mat-slider>
    {{ this.audioService.checkState().readableDuration }}
  </div>
  <div class="media-action-1">
    <button mat-button [ngClass]="[loop()]" (click)="this.audioService.loop = !this.audioService.loop">
      <mat-icon mat-list-icon>repeat</mat-icon>
    </button>
    <button mat-button (click)="this.audioService.previous()">
      <mat-icon mat-list-icon>skip_previous</mat-icon>
    </button>
    <button mat-button (click)="this.audioService.play()" [disabled]="this.audioService.checkState().error" *ngIf="!this.audioService.checkState().playing">
      <mat-icon mat-list-icon>play_circle_filled</mat-icon>
    </button>
    <button mat-button (click)="this.audioService.pause()" *ngIf="this.audioService.checkState().playing">
      <mat-icon mat-list-icon>pause</mat-icon>
    </button>
    <button mat-button (click)="this.audioService.next()">
      <mat-icon mat-list-icon>skip_next</mat-icon>
    </button>
    <button mat-button (click)="this.audioService.random()">
      <mat-icon mat-list-icon>shuffle</mat-icon>
    </button>
  </div>
  <div class="media-action-2">
    <button  mat-button (click)="favorite()">
      <mat-icon mat-list-icon *ngIf="this.audioService.songFav">favorite</mat-icon>
      <mat-icon mat-list-icon *ngIf="!this.audioService.songFav">favorite_border</mat-icon>
    </button>
    <button mat-button (click)="addToPlaylist()">
      <mat-icon mat-list-icon>playlist_add</mat-icon>
    </button>
    <button mat-button (click)="share()">
      <mat-icon mat-list-icon>share</mat-icon>
    </button>
    <button mat-button (click)="find()">
      <mat-icon mat-list-icon>search</mat-icon>
    </button>
  </div>
  <div class="media-action-3">
    <button mat-button (click)="this.audioService.mute()">
      <mat-icon mat-list-icon *ngIf="this.audioService.checkVol() != 0.00 && this.audioService.checkVol() <= 0.50">volume_down</mat-icon>
      <mat-icon mat-list-icon *ngIf="this.audioService.checkVol() <= 1.00 && this.audioService.checkVol() > 0.50">volume_up</mat-icon>
      <mat-icon mat-list-icon *ngIf="this.audioService.checkVol() === 0.00">volume_off</mat-icon>
    </button>
    <mat-slider class="vol-slider" min="0.00" [max]="1.00" step="0.01" [value]="this.audioService.checkVol()" (input)="changeVolume($event)"></mat-slider>
  </div>
  <button mat-button class="queue" routerLink='/queue'>
    Cola de reproducción
  </button>
</div>
