<div class="container">
  <div class="media-footer" *ngIf="this.audioService.maxIndex > 0 && !this.audioService.showSong">
    <div class="volume-slider" (mouseleave)="this.volumeShow = !this.volumeShow" *ngIf="this.volumeShow">
      <mat-slider vertical class="vol-slider" min="0.00" [max]="1.00" step="0.01" [value]="this.audioService.checkVol()" (input)="changeVolume($event)"></mat-slider>
    </div>
    <div class="reprofooter">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <div class="info" (click)="this.audioService.showSong = true" [routerLink]="['/song']">
            <img class="albumArt" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg" alt="albumart">
            <h4>{{ this.audioService.currentFile.song.Nombre }}</h4>
            <h5>{{ this.audioService.currentFile.song.Artistas }}</h5>
          </div>
          <div class="line">
            <mat-slider class="time-slider" min="0" [max]="this.audioService.checkState().duration" step="1" [value]="this.audioService.checkState().currentTime" (input)="onSliderChangeEnd($event)" [disabled]="this.audioService.checkState().error || this.audioService.currentFile.index === undefined"></mat-slider>
          </div>
          <div class="media-action-bar">
            <button mat-button (click)="this.audioService.previous()">
              <mat-icon mat-list-icon>skip_previous</mat-icon>
            </button>
            <button mat-button (click)="this.audioService.play()" [disabled]="this.audioService.checkState().error" *ngIf="!this.audioService.checkState().playing">
              <mat-icon mat-list-icon>play_circle_filled</mat-icon>
            </button>
            <button mat-button (click)="this.audioService.pause()" *ngIf="this.audioService.checkState().playing">
              <mat-icon mat-list-icon>pause</mat-icon>
            </button>
            <button  mat-button (click)="this.audioService.next()">
              <mat-icon mat-list-icon>skip_next</mat-icon>
            </button>
            <button  mat-button (click)="this.audioService.next()">
              <mat-icon mat-list-icon>favorite</mat-icon>
            </button>
            <!--<button  mat-button (click)="next()">
              <mat-icon mat-list-icon>favorite_border</mat-icon>
            </button>-->
            <button  mat-button (click)="this.audioService.next()">
              <mat-icon mat-list-icon>playlist_add</mat-icon>
            </button>
            <button  mat-button (mouseenter)="this.volumeShow = !this.volumeShow" *ngIf="this.audioService.checkVol() != 0.00 && this.audioService.checkVol() <= 0.50">
              <mat-icon mat-list-icon>volume_down</mat-icon>
            </button>
            <button  mat-button (mouseenter)="this.volumeShow = !this.volumeShow" *ngIf="this.audioService.checkVol() <= 1.00 && this.audioService.checkVol() > 0.50">
              <mat-icon mat-list-icon>volume_up</mat-icon>
            </button>
            <button  mat-button (mouseenter)="this.volumeShow = !this.volumeShow" *ngIf="this.audioService.checkVol() === 0.00">
              <mat-icon mat-list-icon>volume_mute</mat-icon>
            </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
</div>
