.media-footer {
  z-index: 1000;
  display: block !important;
  position: fixed !important;
  bottom: 0;
  width: 100% !important;
  .volume-slider {
    .show {
      background-color: #3f51b5;
      position: absolute;
      display: block;
      border-radius: 25px;
      right: 25px;
      bottom: 64px;
      opacity: 1;
      transition: opacity 0.6s;
    }
    .hide {
      transition: visibility 0s 0.6s, opacity 0.6s linear;
      opacity: 0;
      visibility: hidden;
    }
  }
  .reprofooter {
    background-color: #3f51b5;
    .albumArt {
      position: absolute !important;
      margin-top: 9px;
      height: 48px !important;
      width: 48px !important;
    }
    h4, .artists {
      margin-left: 55px !important;
    }
    .line {
      width: 600% !important;
      .time-slider {
        display: block;
        margin-left: 70px;
        margin-right: 20px;
        text-align:center;
      }
    }
    .media-action-bar {
      width: 100%;
      text-align:right;
      justify-content: center;
    }
  }
}

.info {
  cursor: pointer;
}

.artists h5 {
  margin-left: 0 !important;
  display: inline-block;
}
