<div class="container">
  <div class="media-footer" *ngIf="this.audioService.maxIndex > 0">
    <div class="media-footer">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <div class="info">
            <img class="albumArt" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg" alt="albumart">
            <h4>{{ this.audioService.currentFile.song.name }}</h4>
            <h5>{{ this.audioService.currentFile.song.artist }}</h5>
          </div>
          <div class="line">
            <!-- {{ this.audioService.checkState().readableCurrentTime }} -->
            <mat-slider class="time-slider" min="0" [max]="this.audioService.checkState().duration" step="1" [value]="this.audioService.checkState().currentTime" (input)="onSliderChangeEnd($event)" [disabled]="this.audioService.checkState().error || this.audioService.currentFile.index === undefined"></mat-slider>
            <!-- {{ this.audioService.checkState().readableDuration }} -->
          </div>
          <div class="media-action-bar">
            <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
              <mat-icon mat-list-icon>skip_previous</mat-icon>
            </button>
            <button mat-button (click)="play()" [disabled]="this.audioService.checkState().error" *ngIf="!this.audioService.checkState().playing">
              <mat-icon mat-list-icon>play_circle_filled</mat-icon>
            </button>
            <button mat-button (click)="pause()" *ngIf="this.audioService.checkState().playing">
              <mat-icon mat-list-icon>pause</mat-icon>
            </button>
            <button  mat-button [disabled]="isLastPlaying()" (click)="next()">
              <mat-icon mat-list-icon>skip_next</mat-icon>
            </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
</div>
