<div class="container">
  <div class="media-footer" *ngIf="this.cloudService.user && !this.audioService.showSong">
    <div class="volume-slider" *ngIf="this.audioService.maxIndex > 0" (mouseleave)="this.volumeShow = 'show hide'" (mouseenter)="clear()">
      <mat-slider vertical [ngClass]="[this.volumeShow]" min="0.00" [max]="1.00" step="0.01" [value]="this.audioService.checkVol()" (input)="changeVolume($event)"></mat-slider>
    </div>
    <div class="reprofooter">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <h2 style="text-align: center; width: 100%;" *ngIf="this.audioService.maxIndex === 0">
            Selecciona una canción para reproducirla
          </h2>
          <div class="info" (click)="this.audioService.showSong = true" [routerLink]="['/song']" *ngIf="this.audioService.maxIndex > 0">
            <img class="albumArt" [src]="this.audioService.currentFile.song.Imagen" alt="albumart">
            <h4>{{ this.audioService.currentFile.song.Nombre }}</h4>
            <h5 *ngIf="this.audioService.currentFile.song.title; else song">{{ this.audioService.currentFile.song.Artistas }}</h5>
            <ng-template #song>
              <div class="artists">
                <h5 *ngFor="let artist of this.audioService.currentFile.song.Artistas">
                  <span *ngIf="this.audioService.currentFile.song.Artistas[0] != artist">, </span>
                  {{ artist }}
                </h5>
                <br/>
              </div>
            </ng-template>
          </div>
          <div class="line" *ngIf="this.audioService.maxIndex > 0">
            <mat-slider class="time-slider" min="0" [max]="this.audioService.checkState().duration" step="1" [value]="this.audioService.checkState().currentTime" (input)="onSliderChangeEnd($event)" [disabled]="this.audioService.checkState().error || this.audioService.currentFile.index === undefined"></mat-slider>
          </div>
          <div class="media-action-bar" *ngIf="this.audioService.maxIndex > 0">
            <button mat-button (click)="this.audioService.previous()">
              <mat-icon mat-list-icon>skip_previous</mat-icon>
            </button>
            <button mat-button (click)="this.audioService.play()" [disabled]="this.audioService.checkState().error" *ngIf="!this.audioService.checkState().playing">
              <mat-icon mat-list-icon>play_circle_filled</mat-icon>
            </button>
            <button mat-button (click)="this.audioService.pause()" *ngIf="this.audioService.checkState().playing">
              <mat-icon mat-list-icon>pause</mat-icon>
            </button>
            <button  mat-button (click)="this.audioService.next()">
              <mat-icon mat-list-icon>skip_next</mat-icon>
            </button>
            <button  mat-button (click)="favorite()">
              <mat-icon mat-list-icon *ngIf="this.audioService.songFav">favorite</mat-icon>
              <mat-icon mat-list-icon *ngIf="!this.audioService.songFav">favorite_border</mat-icon>
            </button>
            <button  mat-button (click)="mute()" (mouseenter)="show()">
              <mat-icon mat-list-icon *ngIf="this.audioService.checkVol() != 0.00 && this.audioService.checkVol() <= 0.50">volume_down</mat-icon>
              <mat-icon mat-list-icon *ngIf="this.audioService.checkVol() <= 1.00 && this.audioService.checkVol() > 0.50">volume_up</mat-icon>
              <mat-icon mat-list-icon *ngIf="this.audioService.checkVol() === 0.00">volume_off</mat-icon>
            </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>
</div>
