.container {
  display: block !important;
  position: absolute !important;
  bottom: 0;
  width: 100% !important;
  .volume-slider {
    .vol-slider {
      background-color: #3f51b5;
      position: absolute;
      display: block;
      right: 25px;
      bottom: 64px;
    }
  }
  .reprofooter {
    background-color: #3f51b5;
    .albumArt {
      position: absolute !important;
      margin-top: 9px;
      height: 48px !important;
      width: 48px !important;
    }
    h4, h5 {
      margin-left: 55px !important;
    }
    .line {
      width: 600% !important;
      .time-slider {
        display: block;
        margin-left: 70px;
        margin-right: 20px;
        text-align:center;
      }
    }
    .media-action-bar {
      width: 100%;
      text-align:right;
      justify-content: center;
    }
  }
}
