<div class="user">
    <img class="imagenUsuario" [src]="this.cloudService.userInfo.Foto">
    <div>
        <h2>
            Usuario:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ this.cloudService.userInfo.Nombre }}
        </h2>
        <h2>
            Correo electrónico:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ this.cloudService.user }}
        </h2>
        <h2>
            Fecha de nacimiento:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ this.cloudService.userInfo.fecha }}
        </h2>
        <h2>
            País:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ this.cloudService.userInfo.Pais }}
        </h2>
        <a href="" [routerLink]="['/conf']">Editar perfil</a>
    </div>
</div>
<hr width="95%" color="#dddddd">
<div>
    <h3>Álbumes guardados</h3>
</div>
<div class="albums">
    <ul>
        <li>
            <img class="album_image" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
            <div class="album_details">
                <h3>Sangre Caliente</h3>
                <p>Paquirrín</p>
            </div>
        </li>
        <li>
            <img class="album_image" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
            <div class="album_details">
                <h3>Sangre Caliente</h3>
                <p>Paquirrín</p>
            </div>
        </li>
        <li>
            <img class="album_image" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
            <div class="album_details">
                <h3>Sangre Caliente</h3>
                <p>Paquirrín</p>
            </div>
        </li>
        <li>
            <img class="album_image" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
            <div class="album_details">
                <h3>Sangre Caliente</h3>
                <p>Paquirrín</p>
            </div>
        </li>
        <li>
            <img class="album_image" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
            <div class="album_details">
                <h3>Sangre Caliente</h3>
                <p>Paquirrín</p>
            </div>
        </li>
    </ul>
</div>
