<div class="user">
    <img class="imagenUsuario" [src]="this.user.Foto">
    <div>
        <h2>
            Usuario:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ this.user.Nombre }}
        </h2>
        <h2>
            Correo electrónico:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ this.user.Email }}
        </h2>
        <h2>
            Fecha de nacimiento:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ this.user.fecha }}
        </h2>
        <h2>
            País:
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{ this.user.Pais }}
        </h2>
        <a href="" [routerLink]="['/conf']" *ngIf="this.user.Email === this.cloudService.user">
          <mat-icon>build</mat-icon> Editar perfil
        </a>
    </div>
</div>
<hr width="95%" color="#dddddd">
<div>
    <h3>Listas de reproducción</h3>
</div>
<div class="lists" style="margin-bottom: 10rem;">
  <div *ngFor="let list of this.playlists" class="box" [routerLink]="['/music/lists', this.cloudService.encrypt(list.ID.toString())]">
    <img class="albumArt" *ngIf="list.Imagen === 'default'" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg" alt="albumart">
    <img class="albumArt" *ngIf="list.Imagen != 'default'" [src]="list.Imagen" alt="albumart">
    <h3>{{ list.Nombre }}</h3>
  </div>
</div>
