<div class="margen" [routerLinkActive]="['is-active']">
  <div *ngIf="podcasts">
    <!-- Presentar el podcast buscado -->
    <div class="absoluteCenter">
      <h2>
        {{ podcasts.title }}
        <!-- {{pod.publisher_original }} -->
        <div class="buttons">
          <button (click)="toggleIcon()">
            <span class="material-icons" *ngIf="!this.saved">
            bookmark_border
            </span>
            <span class="material-icons" *ngIf="this.saved">
            delete
            </span>
            <p *ngIf="!this.saved">Agregar a favoritos</p>
            <p *ngIf="this.saved">Eliminar de favoritos</p>
          </button>

          <!-- PASAMOS LISTA DE PODCASTS A LA COLA DE REPRODUCCIÓN -->
          <button class="add_episodes" (click)="addToPlayList()">
            <span class="material-icons" *ngIf="!this.added">
            playlist_add
            </span>
            <span class="material-icons" *ngIf="this.added">
            playlist_add_check
            </span>
            <p>Añadir episodios a la cola de reproducción</p>
          </button>
      </div>
      </h2>
    </div>
    <!-- LISTA DE EPISODIOS -->
    <ul class="podcasts">
      <li *ngFor="let result of podcasts.episodes" (click)="onSelect(result)">
          <div class="separar">
            <img src='{{result.image}}'/>
            <div class="texto">
              <h2>{{ result.title }}</h2>
              <pre *ngIf="result.description.length > 140; else elseBlock">{{ stripHTML(result.description)  | slice:0:150}}...</pre>
              <ng-template #elseBlock>{{ stripHTML(result.description) }}</ng-template>
            </div>
          </div>
      </li>
    </ul>
  </div>
</div>

<!-- (click)="onSelect(podcast) -->
<div *ngIf="selectedPodcast">
  <app-podcast-detail [result]="[selectedPodcast, pod.publisher_original || pod.publisher, this.title, pod.id]"></app-podcast-detail>
</div>
