<h2>Buscar podcasts</h2>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="titulo">
      Name
    </label>
    <input type="text" formControlName="titulo">
  </div>

  <button class="button" type="submit">Buscar</button>
</form>


<div *ngIf="podcasts">
  Titulo buscado: {{ title_string }}
  <!-- LISTA DE PODCASTS -->
  <ul class="podcasts">
    <li *ngFor="let result of podcasts.results" (click)="onSelect(result)">
      <strong>Titulo: </strong> <a> {{ result.title_original }} </a>
      <strong>Podcast: </strong>{{ result.podcast_title_original }}
      <br>
    </li>
  </ul>

  <!-- <app-podcast-detail [podcast]="selectedPodcast"></app-podcast-detail> -->
</div>

<!-- (click)="onSelect(podcast) -->
<div *ngIf="selectedPodcast">
  <app-podcast-detail [result]="selectedPodcast"></app-podcast-detail>
</div>
