.toolbar {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  background-color: #512DA8;
  .empty_spaces{
    flex: 1 1 auto;
  }
  .opciones{
    padding: 0 28px;
  }

  a {
    color: #ffffff;
    text-decoration: none;
    padding: 1rem;
  }

  .close {
    cursor: pointer;
  }

  img{
    height: 90%;
    cursor: pointer;
  }

  .logo {
    height: 50%;
    cursor: pointer;
  }
}

.badge {
  position: absolute;
  padding: 1px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
