<mat-toolbar class="mat-toolbar">
    <span><a [routerLink]="['']">TuneIt</a></span>
    <span class="empty_spaces"></span>
    <div class="opciones">
        <span><a [routerLink]="['/lists']" aria-label="Notificaciones">Notificaciones</a></span>
    </div>
    <div class="opciones">
        <span><a [routerLink]="" aria-label="Ayuda">Ayuda</a></span>
    </div>
    <div class="opciones">
        <span><a [routerLink]="" aria-label="Configuracion">Configuracion</a></span>
    </div>
</mat-toolbar>
