<mat-toolbar class="toolbar">
    <img (click)="goTo()" src="assets/images/logoGris.png">
    <img class="logo" (click)="goTo()" src="assets/images/LogoAppName.png">
    <!-- <span><a style="cursor: pointer;" (click)="goTo()">TuneIt</a></span> -->
    <span class="empty_spaces"></span>
    <div class="opciones" *ngIf="this.cloudService.user != undefined">
        <span><a routerLink='/notifications' aria-label="Notificaciones">Notificaciones</a></span>
        <span class="badge" *ngIf="this.friendService.pend > 0">
          {{ this.friendService.pend }}
        </span>
    </div>
    <div class="opciones">
        <span><a routerLink='/help' aria-label="Ayuda">Ayuda</a></span>
    </div>
    <div class="opciones" *ngIf="this.cloudService.user != undefined">
      <span><a (click)="this.cloudService.closeSession()" class="close" aria-label="Cerrar sesión">Cerrar sesión</a></span>
    </div>
</mat-toolbar>
