<div style="margin-bottom: 10rem;">
  <h1>Editar perfil</h1>
  <hr width="95%" color="#dddddd">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div class="changes">
    <h3 style="padding-top: 1rem;">Modificar contraseña</h3>
    <div class="form-group">
      <span>Nueva contraseña</span>
      <input class="form-field" formControlName="newpass" type="password" placeholder="Nueva contraseña" appBlockCopyPaste>
    </div>
      <div class="form-group">
        <span>Repetir nueva contraseña</span>
        <input class="form-field" formControlName="renewpass" type="password" placeholder="Repetir nueva contraseña" appBlockCopyPaste>
      </div>
      <h3 style="padding-top: 1rem;">Modificar nombre</h3>
      <div class="form-group">
        <span>Nuevo nombre</span>
        <input class="form-field" formControlName="name" type="text" placeholder="Nuevo nombre">
      </div>
      <h3 style="padding-top: 1rem;">Modificar país</h3>
      <select name="miselect" formControlName="country">
        <option [ngValue]="item" *ngFor="let item of this.cloudService.lista">
          {{item}}
        </option>
      </select>
      <br/>

      <h3 style="padding-top: 1rem;">Modificar imagen de perfil</h3>

      <div class="images">
        <img *ngFor="let img of this.cloudService.imagesProfile; let i = index"[src]="img.Url" class="profile" (click)="changeSelect(i)" [ngClass]="{'highlight': this.selected === i + 1}">
      </div>

      <div class="form-group">
        <span>Contraseña actual</span>
        <input class="form-field" formControlName="repass" type="password" placeholder="Contraseña actual" required appBlockCopyPaste>
      </div>

      <button type="submit" (click)="submit()" class="submitButton">
        Guardar cambios
      </button>
      <button style="margin-left: 1rem; background-color: red;" type="submit" (click)="deleteUser()" class="submitButton">
        Eliminar usuario
      </button>
    </div>
  </form>
</div>
