<div>
  <h1>Editar perfil</h1>
  <hr width="95%" color="#dddddd">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div class="changes">
    <div class="form-group">
      <span>Contraseña actual</span>
      <input class="form-field" formControlName="repass" type="password" placeholder="Contraseña actual" required>
    </div>
    <h3 style="padding-top: 1rem;">Modificar contraseña</h3>
    <div class="form-group">
      <span>Nueva contraseña</span>
      <input class="form-field" formControlName="newpass" type="password" placeholder="Nueva contraseña">
    </div>
      <!--<label for="renewpass">
        Repetir contraseña:
      </label>
      <input type="password" formControlName="renewpass" name="renewpass" class="repasswordNew" placeholder="Repetir contraseña">
    -->
      <div class="form-group">
        <span>Repetir nueva contraseña</span>
        <input class="form-field" formControlName="renewpass" type="password" placeholder="Repetir nueva contraseña">
      </div>
      <h3 style="padding-top: 1rem;">Modificar nombre</h3>
      <!--<input type="text" formControlName="name" name="name" class="name" placeholder="Nuevo nombre">
      -->
      <div class="form-group">
        <span>Nuevo nombre</span>
        <input class="form-field" formControlName="name" type="text" placeholder="Nuevo nombre">
      </div>
      <h3 style="padding-top: 1rem;">Modificar país</h3>
      <select name="miselect" formControlName="country">
        <option [ngValue]="item" *ngFor="let item of lista">
          {{item}}
        </option>
      </select>
      <br/>

      <button type="submit" (click)="submit()" class="submitButton">
        Guardar cambios
      </button>
      <button style="margin-left: 1rem;" type="submit" (click)="deleteUser()" class="submitButton">
        Eliminar usuario
      </button>
    </div>
  </form>
</div>
