<div>
  <h1>Editar perfil</h1>
  <hr width="95%" color="#dddddd">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div class="changes">
    <div class="form-group">
      <span>Contraseña actual</span>
      <input class="form-field" formControlName="repass" type="password" placeholder="Contraseña actual" required appBlockCopyPaste>
    </div>
    <h3 style="padding-top: 1rem;">Modificar contraseña</h3>
    <div class="form-group">
      <span>Nueva contraseña</span>
      <input class="form-field" formControlName="newpass" type="password" placeholder="Nueva contraseña" appBlockCopyPaste>
    </div>
      <div class="form-group">
        <span>Repetir nueva contraseña</span>
        <input class="form-field" formControlName="renewpass" type="password" placeholder="Repetir nueva contraseña" appBlockCopyPaste>
      </div>
      <h3 style="padding-top: 1rem;">Modificar nombre</h3>
      <div class="form-group">
        <span>Nuevo nombre</span>
        <input class="form-field" formControlName="name" type="text" placeholder="Nuevo nombre">
      </div>
      <h3 style="padding-top: 1rem;">Modificar país</h3>
      <select name="miselect" formControlName="country">
        <option [ngValue]="item" *ngFor="let item of this.cloudService.lista">
          {{item}}
        </option>
      </select>
      <br/>

      <button type="submit" (click)="submit()" class="submitButton">
        Guardar cambios
      </button>
      <button style="margin-left: 1rem; background-color: red;" type="submit" (click)="deleteUser()" class="submitButton">
        Eliminar usuario
      </button>
    </div>
  </form>
</div>


<!--<input #file type="file" id="file_input" accept='image/*' (change)="changeFile(file.files)" />
<p id="status">Please select a file</p>
<img [src]="imgURL" height="200" *ngIf="imgURL">
<button class="delete-file" (click)="getSignedRequest(this.files[0])">
  <img style="width: 200px;" id="preview" src="../../../assets/images/logoGris.png">
</button>
<div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="changeFile($event)">
  <input hidden type="file" #fileInput (change)="changeFile($event.target.files)">
</div>
<div  class="files-list" *ngFor="let file of files;let i= index">
    <p> {{ file }} </p>
    <button class="delete-file" (click)="getSignedRequest(this.files[0])">
      <img id="preview" src="../../../assets/images/logoGris.png">
    </button>
</div>
-->
