<div class="info">
    <img src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
    <h1>{{ this.name }}</h1>
    <h3>Grupo pinche pendejo</h3>
</div>
<div class="canciones">
    <ul>
        <li>
            <h4 mat-line>La gozadera</h4>
            <h5 mat-line>Dioses del olimpo</h5>

        </li>
        <li>
            <h4 mat-line>La gozadera</h4>
            <h5 mat-line>Dioses del olimpo</h5>

        </li>
        <li>
            <h4 mat-line>La gozadera</h4>
            <h5 mat-line>Dioses del olimpo</h5>

        </li>
        <li>
            <h4 mat-line>La gozadera</h4>
            <h5 mat-line>Dioses del olimpo</h5>

        </li>
        <li>
            <h4 mat-line>La gozadera</h4>
            <h5 mat-line>Dioses del olimpo</h5>

        </li>
        <li>
            <h4 mat-line>La gozadera</h4>
            <h5 mat-line>Dioses del olimpo</h5>

        </li>
        <li>
            <h4 mat-line>La gozadera</h4>
            <h5 mat-line>Dioses del olimpo</h5>

        </li>
        <li>
            <h4 mat-line>La gozadera</h4>
            <h5 mat-line>Dioses del olimpo</h5>

        </li>
    </ul>
</div>
