<body style="margin-bottom: 10rem;">
    <div class="container">
        <div class="right">
            <img src="assets/images/undraw_media_player_ylg8.png">
            <div class="text">
                <h1>
                    Tune It
                </h1>
                <p>
                    Toda tu música, en un solo lugar.
                </p>
                <button routerLink="/login" routerLinkActive="active">
                    Iniciar sesion
                </button>
                <button routerLink="/register" routerLinkActive="active" style="margin-left: 1rem;">
                    Registrate
                </button>
            </div>
        </div>
    </div>
</body>