.container{
  background-color: white !important;
}

h1 {
    font-size: 5rem;
    font-family: Roboto;
    color: #3e454e;
}

.right{
    align-items:center;
}

img{
    width: 70%;
    float: left;
    margin-top: -130px;
}

.text {
  float: right;
  margin-right: 5%;
  margin-top: 10%;
}

.text p {
    color: #3e454e;
}

button {
    background-color: #6C63FF;
    border-radius: 5%;
    border: none;
    border-color: #6C63FF;
    color: #ffffff;
    padding: 1rem;
}

button:hover{
    cursor: pointer;
    background-color: #9c96ff;
}

@media only screen and (max-width: 1025px) {
  img {
    width: 100% !important;
    float: none;
    margin-top: 0;
  }
  .text {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    float: none;
    margin-right: 0;
  }
}
