ul{
  list-style-type:none;
  margin-left: -1.5rem;
}

ul li{
  border: 1px solid #ddd;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

ul li:hover{
  cursor: pointer;
}

li img {
  width: 7.35rem;
  height: 7.35rem ;
}

.texto{
  height: 100px;
}

.artists {
  display: inline-block;
  cursor: pointer;
}
