<div class="margen">
  <h2>Buscar podcasts</h2>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
      <label for="titulo">
        Name
      </label>
      <input type="text" formControlName="titulo">

      <button class="button" type="submit">Buscar</button>
    </div>


  </form>

  <div *ngIf="podcasts">
    <strong>Podcast buscado: </strong>{{ title_string }}
    <!-- LISTA DE PODCASTS -->
    <ul class="podcasts">
      <li *ngFor="let result of podcasts.results">
          <div class="separar">
            <img (click)="onSelect(result)" src='{{result.image}}'/>
            <div class="texto">
              <h2 (click)="onSelect(result)">{{result.title_original}}</h2>

              <!-- LLAMAR A FUNCION QUE DIGA SI EL PODCAST ESTA GUARDADO-->
              <div>{{ isSaved(result.title_original) }}</div>
              <button mat-icon-button (click)="icon = !icon">
                <mat-icon [ngClass]="icon ? 'bookmark' : 'bookmarked'">bookmark_borderw</mat-icon>
              </button>

              <h4><strong>Publicado por: </strong>{{result.publisher_original}}</h4>
            </div>
          </div>
      </li>
    </ul>
  </div>
</div>

<!-- (click)="onSelect(podcast) -->
<div *ngIf="selectedPodcast">
  <app-podcasts [title_string]='[podcast_id, publisher_original]'></app-podcasts>
</div>
