<div class="margen">
  <h2 class="title">Buscar podcasts</h2>

    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
      <div class="search">
        <input type="text" formControlName="titulo" class="searchTerm" placeholder="Podcast a buscar">
      <button type="submit" class="searchButton">
          <i class="material-icons">search</i>
     </button>
      </div>
    </form>

  <div *ngIf="podcasts || favPodcasts" class="uff">
    <div class="buscado">
      <div class="searched" *ngIf="title_string != undefined"><strong>Podcast buscado: </strong>{{ title_string }}</div>
      <div class="searched" *ngIf="title_string === undefined"><strong>Podcasts favoritos: </strong></div>
      <button class="eliminarBusqueda" (click)="podcasts = undefined; title_string = undefined" *ngIf="title_string != undefined">
        <span class="material-icons">
          clear
        </span>
      </button>
    </div>
    <!-- LISTA DE PODCASTS -->
    <ul class="podcasts">
      <!-- GUARDAR PODCAST SELECCIONADO EN UN SERVICIO -->
      <li *ngFor="let result of isFavorite()" [routerLink]="['/podcasts', result.title_original]" (click)="onSelect(result)">
          <div class="separar">
            <img src='{{result.image}}'/>
            <div class="texto">
              <h2>{{result.title_original}}</h2>
              <h4><strong>Publicado por: </strong>{{result.publisher_original}}</h4>
            </div>
          </div>
      </li>
    </ul>
  </div>
</div>
