<div class="margen">
  <h2>Buscar podcasts</h2>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div>
      <label for="titulo">
        Name
      </label>
      <input type="text" formControlName="titulo">

      <button class="button" type="submit">Buscar</button>
    </div>


  </form>

  <div *ngIf="podcasts">
    <strong>Podcast buscado: </strong>{{ title_string }}
    <!-- LISTA DE PODCASTS -->
    <ul class="podcasts">
      <li *ngFor="let result of podcasts.results" (click)="onSelect(result)">
          <div class="separar">
            <img src='{{result.image}}'/>
            <div class="texto">
              <h2>{{result.title_original}}</h2>
              <h4><strong>Publicado por: </strong>{{result.publisher_original}}</h4>
            </div>
          </div>
      </li>
    </ul>
  </div>
</div>

<!-- (click)="onSelect(podcast) -->
<div *ngIf="selectedPodcast">
  <app-podcasts [title_string]="podcast_id"></app-podcasts>
</div>
