<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div class="search">
    <input type="text" formControlName="titulo" class="searchTerm" placeholder="Nombre del usuario...">
  <button type="submit" class="searchButton">
      <i class="material-icons">search</i>
 </button>
  </div>
</form>

<div *ngIf="this.users != undefined && this.users.length > 0">
  <ul *ngFor="let user of this.users">
    <li class="imagen_perfil">
      <img [src]="user.Imagen">
      <h4>{{ user.Nombre }}</h4>
    </li>
  </ul>
</div>
