<button class="kk" [ngClass]="[isActual(0)]" (click)="this.petitions = false; this.search = false">
  Amigos
</button>

<button class="kk" [ngClass]="[isActual(1)]" (click)="this.search = false; this.petitions = true">
  Solicitudes de amistad
  <!--- BADGE HAY QUE MOSTRARLO CUANDO HAYA NOTIFICACIONES -->
  <span class="badge" *ngIf="this.friendService.petitions && this.friendService.petitions.length > 0">
    {{ this.friendService.petitions.length }}
  </span>
</button>

<button class="kk" [ngClass]="[isActual(2)]" (click)="this.petitions = false; this.search = true">
  Buscar amigos
</button>

<app-buscar-amigos *ngIf="this.search"></app-buscar-amigos>
<app-solicitudes *ngIf="this.petitions"></app-solicitudes>

<div *ngIf="!this.search && !this.petitions">
  <h2>Amigos</h2>

  <div *ngIf="this.friendService.friends && this.friendService.friends.length > 0">
    <ul *ngFor="let friend of this.friendService.friends; let i = index">
      <li>
        <img [src]="friend.Imagen" [routerLink]="['/profile', this.cloudService.encrypt(friend.Email)]">
        <div class="texto">
          <h3>{{ friend.Nombre }}</h3>
          <button class="boton">
            <span class="material-icons" (click)="deleteFriend(friend, i)">
              delete
            </span>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="!this.friendService.friends || this.friendService.friends.length === 0">
    <p>No tienes ningún amigo todavía</p>
    <p>Utiliza el buscador y empieza a añadir amigos</p>
    <a (click)="this.petitions = false; this.search = true">Buscar amigos</a>
  </div>
</div>
