<h2>Buscar amigos</h2>

<div>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
      <div class="search">
        <input type="text" formControlName="titulo" class="searchTerm" placeholder="Buscar amigos">
        <button type="submit" class="searchButton">
          <i class="material-icons">search</i>
        </button>
      </div>
    </form>
</div>

<div *ngIf="this.users != undefined && this.users.length > 0" style="margin-bottom: 10rem;">
  <ul *ngFor="let user of this.users">
    <li>
      <img [src]="user.Imagen">
      <div class="texto">
        <h3>{{ user.Nombre }}</h3>
        <button class="boton">
          <span class="material-icons" (click)="addFriend(user)">
            person_add
          </span>
        </button>
      </div>
    </li>
  </ul>
</div>
