<button class="notification" routerLink='/friends'>
  Amigos
</button>

<button class="notification" routerLink='/friends/solicitudes'>
  Solicitudes de amistad
  <!--- BADGE HAY QUE MOSTRARLO CUANDO HAYA NOTIFICACIONES -->
  <span class="badge">3</span>
</button>

<button class="selected" routerLink='/friends/buscarAmigos'>
  Buscar amigos
</button>

<h2>Buscar amigos</h2>

<div> 
  <!-- <[formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" --> 
    <form>
      <div class="search">
        <input type="text" formControlName="titulo" class="searchTerm" placeholder="Buscar amigos">
        <button type="submit" class="searchButton">
          <i class="material-icons">search</i>
        </button>
      </div>
    </form>
</div>

<ul>
    <li>
      <img src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
      <div class="texto">
        <h3>Amigo</h3>
        <button class="boton">
          <span class="material-icons">
            person_add
          </span>
        </button>
      </div>
    </li>
    <li>
      <img src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
      <div class="texto">
        <h3>Amigo</h3>
        <button class="boton">
          <span class="material-icons">
            person_add
          </span>
        </button>
      </div>
    </li>
    <li>
      <img src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
      <div class="texto">
        <h3>Amigo</h3>
        <button class="boton">
          <span class="material-icons">
            person_add
          </span>
        </button>
      </div>
    </li>
  </ul>