<div class="body">
  <div *ngIf="this.audioService.subscribeArtists && this.audioService.subscribeArtists.length > 0">
    <h2>
      <strong>Artistas suscritos</strong>
    </h2>
    
    <div class="listas">
      <div class="lista" *ngFor="let artist of this.audioService.subscribeArtists" [routerLink]="['/artist', artist.Nombre]">
        <img [src]="artist.Imagen">
        <h3>
          {{ artist.Nombre }}
        </h3>
      </div>
    </div>
  </div>
  
  <hr width="95%" color="#dddddd" style="float: left">

  <h2 style="float: left;">
    <strong>Artistas recomendados</strong>
  </h2>
  
  <div class="listas" style="margin-bottom: 10rem;">
    <div class="lista" *ngFor="let artist of this.recommended" [routerLink]="['/artist', artist.Nombre]">
      <img [src]="artist.Imagen">
      <h3>
        {{ artist.Nombre }}
      </h3>
    </div>
  </div>
</div>
