<div class="artist">
    <img class="artist_image" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
    <h2>{{ this.info.Nombre }}</h2>
</div>
<hr width="95%">
<h2 class="albumes">Albumes</h2>
<div class="albums">
    <ul *ngFor="let album of this.info.Albumes">
        <li [routerLink]="['/album', album.Nombre]">
            <img class="album_image" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
            <div class="album_details">
                <h3>{{ album.Nombre }}</h3>
                <button (click)="toggleIcon()">
                    <span class="material-icons" *ngIf="!this.saved">
                        bookmark_border
                        </span>
                    <span class="material-icons" *ngIf="this.saved">
                        bookmark
                    </span>
                    <span *ngIf="!this.saved">Guardar</span>
                    <span *ngIf="this.saved">Guardado</span>
                </button>
            </div>
        </li>
      </ul>
</div>
