<div class="artist">
    <img class="artist_image" [src]="this.info.Imagen">
    <h2 class="nombre">{{ this.info.Nombre }}</h2>
</div>
<button (click)="subscribe()">
  <span *ngIf="this.subscribed">Desuscribirse</span>
  <span *ngIf="!this.subscribed">Suscribirse</span>
</button>
<hr width="95%">
<h2 class="albumes">Albumes</h2>
<div class="albums">
    <ul *ngFor="let album of this.info.Albumes">
        <li [routerLink]="['/album', album.Nombre]">
            <img class="album_image" [src]="album.Imagen">
            <div class="album_details">
                <h3>{{ album.Nombre }}</h3>
                <button (click)="toggleIcon()">
                    <span class="material-icons" *ngIf="!this.saved">
                        bookmark_border
                        </span>
                    <span class="material-icons" *ngIf="this.saved">
                        bookmark
                    </span>
                    <span *ngIf="!this.saved">Guardar</span>
                    <span *ngIf="this.saved">Guardado</span>
                </button>
            </div>
        </li>
      </ul>
</div>
