<div class="artist">
    <img class="artist_image" [src]="this.info.Imagen">
    <h2 class="nombre">{{ this.info.Nombre }}</h2>
</div>
<div class="butSub">
  <button (click)="subscribe()" class="sub">
      <span class="material-icons" *ngIf="!this.subscribed">
          whatshot
      </span>
      <span class="material-icons" *ngIf="this.subscribed">
          clear
      </span>
    <span *ngIf="this.subscribed">Desuscribirse</span>
    <span *ngIf="!this.subscribed">Suscribirse</span>
  </button>
</div>
<hr width="95%" color="#dddddd">
<h2 class="albumes">Albumes</h2>
<div class="albums" style="margin-bottom: 10rem;">
    <ul *ngFor="let album of this.info.Albumes">
        <li [routerLink]="['/album', album.Nombre]">
            <img class="album_image" [src]="album.Imagen">
            <div class="album_details">
                <h3>{{ album.Nombre }}</h3>
            </div>
        </li>
      </ul>
</div>
