<!-- Podcast seleccionado -->
<div class="absoluteCenter" *ngIf="result">
  {{ isSaved() }}
  <div class="nose">
    <img src='{{result[0].image}}'/>
    <h2>{{result[0].title}}</h2>
    <p style="margin-top: 1rem;">
      {{stripHTML(result[0].description)}}
    </p>
    <!-- PASAMOS LISTA DE PODCASTS A LA COLA DE REPRODUCCIÓN -->
    <div class="linea">
      <button class="add_episodes" (click)="addToPlayList()">
        <span class="material-icons" *ngIf="!this.added">
          playlist_add
        </span>
        <span class="material-icons" *ngIf="this.added">
          playlist_add_check
        </span>
        <p>
          Añadir episodio a la cola de reproducción
        </p>
      </button>
      <button class="info" mat-button style="margin-top: 1rem;" (click)="find()">
        <mat-icon mat-list-icon>
          search
        </mat-icon>
        <p style="display: inline-block">
          Buscar información acerca del podcast
        </p>
      </button>
    </div>
    <button class="reproducir" (click)="onPlay()" style="margin-top: 1rem; background-color: #D1C4E9;">
      <mat-icon style="color: #000000;">
        play_arrow
      </mat-icon> 
      <strong style="color: #000000;">Reproducir episodio</strong>
    </button>
  </div>
</div>
