.absoluteCenter {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.reproducir {
  height: 41px;
}

.reproducir:hover {
  cursor: pointer;
}

button {
  background-color: #448AFF;
  border-radius: 4px;
  border: none;
  border-color: #448AFF;
  color: #ffffff;
  display: flex;
  align-items: center;
  width: 100%;
}

button:hover{
  cursor: pointer;
}

button p {
  color:  #fff;
  margin-top: 10px;
}

button .material-icons {
  color: #fff;
}

strong {
  color: #ffffff;
}

.info {
  height: 41px;
}

.linea {
  //display: flex;
  //align-items: center;
}

.add_episodes{
}