<button  mat-button (click)="this.audioService.loadEqualizer()" *ngIf="!this.audioService.useEqualizer">
  <mat-icon mat-list-icon>panorama_fish_eye</mat-icon>
  Haz click aquí
</button>
<button  mat-button (click)="this.audioService.exitEqualizer()" *ngIf="this.audioService.useEqualizer">
  <mat-icon mat-list-icon>lens</mat-icon>
  Salir
</button>
<mat-slider vertical class="vol-slider" min="0" [max]="100" step="1" [value]="this.audioService.stateEqualizer(0)" (input)="changeEqualizer($event, 0)" [disabled]="!this.audioService.useEqualizer"></mat-slider>
<mat-slider vertical class="vol-slider" min="0" [max]="100" step="1" [value]="this.audioService.stateEqualizer(1)" (input)="changeEqualizer($event, 1)" [disabled]="!this.audioService.useEqualizer"></mat-slider>
<mat-slider vertical class="vol-slider" min="0" [max]="100" step="1" [value]="this.audioService.stateEqualizer(2)" (input)="changeEqualizer($event, 2)" [disabled]="!this.audioService.useEqualizer"></mat-slider>
<mat-slider vertical class="vol-slider" min="0" [max]="100" step="1" [value]="this.audioService.stateEqualizer(3)" (input)="changeEqualizer($event, 3)" [disabled]="!this.audioService.useEqualizer"></mat-slider>
<mat-slider vertical class="vol-slider" min="0" [max]="100" step="1" [value]="this.audioService.stateEqualizer(4)" (input)="changeEqualizer($event, 4)" [disabled]="!this.audioService.useEqualizer"></mat-slider>
