<h2>Solicitudes de amistad</h2>

<div *ngIf="this.friendService.petitions && this.friendService.petitions.length > 0">
  <ul *ngFor="let friend of this.friendService.petitions; let i = index">
    <li>
      <img [src]="friend.Emisor[0].Imagen">
      <div class="texto">
        <h3>{{ friend.Emisor[0].Nombre }}</h3>
        <div class="accion">
          <button class="boton" (click)="accept(friend, i)">
            <span class="material-icons">
              person_add
            </span>
          </button>
          <button class="boton" id="clear" (click)="denegate(friend, i)">
            <span class="material-icons">
              clear
            </span>
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
