h3{
    margin-top: 1rem;
    margin-left: 1rem;
}

ul{
    list-style-type:none;
    margin-left: -1.5rem;
  }

  ul li{
    border: 1px solid #ddd;
  }

  ul li:last-child {
    border-bottom: none;
  }

  ul li:hover{
    cursor: pointer;
  }

li img {
    float: left;
    width: 7.35rem;
    height: 7.35rem ;
}

  li .texto{
    //width: 66%;
    height: 100px;
  }

  .boton {
    //box-shadow: 0 3px 10px rgba(0,0,0,.23),0 3px 10px rgba(0,0,0,.16);
    background-color: #448AFF;
    border-radius: 4px;
    border: none;
    border-color: #448AFF;
    color: #ffffff;
    display: flex;
    align-items: center;
  }

  .boton:hover{
    cursor: pointer;
  }
  .boton .material-icons {
    color: #fff;
    padding: 0.25rem;
  }


  .search {
    width: 20%;
    position: relative;
    margin-top: 10px;
    margin-left: 1rem;
    display: flex;
  }

  .searchTerm {
    width: 100%;
    border: 3px solid #448AFF;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }

  .searchTerm:focus{
    color: fff;
  }

  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #448AFF;
    background: #448AFF;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;

    .material-icons{
      margin-top: 5px;
    }
  }

h2 {
    margin-top: 1rem;
    margin-left: 1rem;
}
