<mat-sidenav-container class="container" *ngIf="this.cloudService.user" [ngClass]="{'left' : this.cloudService.change === 'change-left', 'right': this.cloudService.change === 'change-right'}">
  <mat-sidenav opened mode="side" class="sidenav">

    <div class="imagen_perfil" routerLink='/profile'>
      <img [src]="this.cloudService.userInfo.Foto">
      <h4>{{ this.cloudService.userInfo.Nombre }}</h4>
    </div>

    <hr width="95%" color="#D1C4E9">

    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
      <div class="search">
        <input type="text" formControlName="titulo" class="searchTerm" placeholder="¿Qué canción estas buscando?">
      <button type="submit" class="searchButton">
          <i class="material-icons">search</i>
     </button>
      </div>
    </form>

    <mat-nav-list>
      <a mat-list-item routerLink='/music' [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>music_note</mat-icon>
        Música
      </a>
      <a mat-list-item routerLink='/podcasts' [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>mic</mat-icon>
        Podcasts
      </a>
      <a mat-list-item routerLink='/artist' [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>recent_actors</mat-icon>
        Artistas
      </a>
      <a mat-list-item [routerLink]="['/profile', this.cloudService.encrypt(this.cloudService.user)]" [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>person</mat-icon>
        Perfil
      </a>
      <a mat-list-item routerLink='/friends' [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>people</mat-icon>
        Amigos
      </a>
      <a mat-list-item class="small" routerLink='/notifications' [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>notifications</mat-icon>
        Notificaciones
        <span class="badge" *ngIf="this.value > 0">
          {{ this.value }}
        </span>
      </a>
      <a mat-list-item class="small" routerLink='/help' [routerLinkActive]="['is-active']">
        <mat-icon mat-list-icon>help</mat-icon>
        Ayuda
      </a>
      <a mat-list-item class="small" (click)="this.cloudService.closeSession()">
        <mat-icon mat-list-icon>close</mat-icon>
        Cerrar sesión
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
<div class="loquesea" [ngClass]="[this.cloudService.change]">
  <mat-sidenav-container class="change" (click)="changeStyle()">
    <mat-sidenav opened mode="side" class="changeside" *ngIf="this.cloudService.change != 'nothing'">
      <mat-nav-list>
        <span mat-list-item>
          <mat-icon mat-list-icon *ngIf="this.cloudService.change === 'change-right'">arrow_back_ios</mat-icon>
          <mat-icon mat-list-icon *ngIf="this.cloudService.change === 'change-left'">arrow_forward_ios</mat-icon>
        </span>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
  <div class="router">
    <router-outlet></router-outlet>
  </div>
</div>
