<div class="content">
  <div class="logo" *ngIf="this.list != undefined && !this.search">
    <img class="listArt" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg" alt="listart">
    <h3 mat-header>{{ list.Nombre }}</h3>
  </div>
  <mat-list color="primary">
  <h3 mat-subheader>Songs</h3>
  <div *ngIf="!this.add && this.list != undefined" >
    <div [ngClass]="[isActual(i)]" *ngFor="let file of list.Canciones; let i = index">
      <mat-list-item class="info-song" (click)="loadList(i, file);">
        <img class="albumArt" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg" alt="albumart">
        <h4 mat-line>{{ file.Nombre }}</h4>
        <h5 mat-line>{{ file.Artistas }}</h5>
      </mat-list-item>
      <div class="button-list">
        <button  mat-button (click)="addToPlaylist(file)">
          <mat-icon color="primary">playlist_add</mat-icon>
        </button>
        <button mat-button *ngIf="this.queue" (click)="removeFromList(file, i, list.ID)">
          <mat-icon color="primary">delete</mat-icon>
        </button>
       <h6 *ngIf="this.queue && this.audioService.currentFile.index === i && this.audioService.checkState().error">ERROR</h6>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div *ngIf="this.add">
    <button  mat-button (click)="backToList()" *ngIf="this.list != undefined">
      <mat-icon color="primary">cancel</mat-icon>
    </button>
    <button mat-button *ngIf="this.list == undefined" (click)="backToList()" >
      <mat-icon color="primary">cancel</mat-icon>
    </button>
    <mat-list-item class="info-song" (click)="addToList('c')">
      <img class="albumArt" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg" alt="albumart">
      <h4 mat-line>Cola de reproducción</h4>
      <h5 mat-line>Mi cola de reproducción</h5>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div *ngFor="let list of this.audioService.lists">
      <mat-list-item class="info-song" (click)="addToList(list.ID)">
        <img class="albumArt" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg" alt="albumart">
        <h4 mat-line>{{ list.Nombre }}</h4>
        <h5 mat-line>{{ list.Desc }}</h5>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </div>
  </mat-list>
</div>
