.content {
  .logo {
    margin: 2.5rem;
    color: #673AB7;
    .listArt {
      height: 300px !important;
      width: 300px !important;
      float: left;
    }
    .stitle {
      font-weight: bold;
      font-size: 70px;
    }
    div {
      float: left;
      h1 {
        font-weight: bold;
        margin-left: 43px;
        margin-top: 135px;
        font-size: 70px;
      }
    }
    .compartir, .reproducir, .borrar, .anadir {
      height: 41px;
      background-color: #673AB7;
      border-radius: 4px;
      border: none;
      border-color: #673AB7;
      color: #ffffff;
      display: flex;
      align-items: center;
      float: left;
      margin-top: 30px;
      .material-icons {
        color: #fff;
      }
      p {
        color:  #fff;
        margin-top: 10px;
      }
    }
    .borrar, .anadir, .compartir {
      margin-left: 5px;
    }
    .compartir {
      float: left;
    }
    .reproducir {
      margin-left: 45px;
    }
    .reproducir:hover, .compartir:hover, .borrar:hover, .anadir:hover {
      cursor: pointer;
    }
  }
}

.info-song {
  width: 95%;
  .albumArt {
    position: absolute;
    height: 48px !important;
    width: 48px !important;
  }
  .filename {
    padding-left: 55px !important;
    width: 40%;
  }
  .mat-list-text {
    display: inline-block;
  }
}

.actual {
  background-color: #dadada;
}

table {
  margin-top: 20px;
  display: inline-table;
}

table, .cdk-drag-preview {
  box-shadow: 0 0;
  width: 100%;
  .albumArt {
    height: 54px !important;
    width: 54px !important;
  }
  .delete {
    font-size: 38px;
    margin-left: 8px;
    margin-top: 5px;
    color: #3f51b5;
    cursor: pointer;
  }
  .play {
    font-size: 54px !important;
    width: 54px !important;
    height: 54px !important;
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    visibility: 1;
    transition: visibility 0.1s;
  }
  th {
    font-size: 14px;
  }
  .cdk-column-Imagen, .imagen {
    padding-top: 6px;
    width: 64px !important;
  }
  .elemName, .elemArt {
    width: 30%;
  }
  .options {
    text-align: right;
  }
  .oneline {
    display: inline-block;
  }
}

.highlight {
  background-color: #dadada;
  transition: background-color 0.1s, opacity 0.1s;
}

.cdk-drag-preview {
  background-color: #dadada;
  position: absolute;
  width: 100%;
  margin-right: 3%;
  margin-bottom: 64px;
  .play {
    opacity: 0;
  }
  .elemName, .elemArt, .cat {
    position: absolute;
    margin-top: -43px;
    width: 30%;
    height: 43px;
  }
  .elemName {
    margin-left: 86px;
  }
  .elemArt {
    padding-left: 86px;
    margin-left: 30%;
  }
  .cat {
    padding-left: 86px;
    margin-left: 60%;
  }
  .options {
    opacity: 0;
    position: absolute;
    margin-top: -50px;
    right: 0;
    height: 50px;
  }
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.listDrag.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: red;
  border: dotted 3px #999;
  min-height: 66px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.input-2 {
  display: table;
  margin-top: 300px;
  align-items: center;
  margin-left: 20px;
}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border .3s ease;
  &::placeholder {
      color: var(--input-placeholder);
  }
  &:focus {
      outline: none;
      border-color: var(--input-border-focus);
  }
}

.form-group {
  margin-top: 1rem;
  --input-color: #99A3BA;
  --input-border: #CDD9ED;
  --input-background: #fff;
  --input-placeholder: #CBD1DC;

  --input-border-focus: #275EFE;

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #EEF4FF;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678EFE;
  position: relative;
  display: flex;
  width: 30%;
  & > span,
  .form-field {
      white-space: nowrap;
      display: block;
      &:not(:first-child):not(:last-child) {
          border-radius: 0;
      }
      &:first-child {
          border-radius: 6px 0 0 6px;
      }
      &:last-child {
          border-radius: 0 6px 6px 0;
      }
      &:not(:first-child) {
          margin-left: -1px;
      }
  }
  .form-field {
      position: relative;
      z-index: 1;
      flex: 1 1 auto;
      width: 200px;
      margin-top: 0;
      margin-bottom: 0;
  }
  & > span {
      text-align: center;
      padding: 8px 12px;
      font-size: 14px;
      line-height: 25px;
      color: var(--group-color);
      background: var(--group-background);
      border: 1px solid var(--group-border);
      transition: background .3s ease, border .3s ease, color .3s ease;
  }
  &:focus-within {
      & > span {
          color: var(--group-color-focus);
          background: var(--group-background-focus);
          border-color: var(--group-border-focus);
      }
  }
}

.searchButton {
  background-color: #673AB7;
  border-radius: 4px;
  border: none;
  border-color: #673AB7;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.searchCola {
  margin-top: 0;
  margin-left: 20px;
}

.formCola {
  margin-top: 0;
}

.tableSearch {
  margin-top: 0;
  margin-bottom: 30px;
}

.searchButton:hover {
  cursor: pointer;
}

.show {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  padding: 10px;
  border-radius: 25%;
  left: 70%;
  top: 1%;
  width: 100px;
  display: block;
  opacity: 1;
  transition: opacity 0.6s;
  margin-left: 0;
}

.showQueue {
  margin-top: 70px;
}

.showList {
  margin-top: 300px;
}

.showCat {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  padding: 10px;
  border-radius: 25%;
  left: 70%;
  top: 1%;
  width: 100px;
  display: block;
  opacity: 1;
  transition: opacity 0.6s;
  margin-left: 0;
}

.fade {
  position: absolute;
  opacity: 0;
}

.fadeCat {
  transition: visibility 0s 0.6s, opacity 0.6s linear;
  opacity: 0;
  visibility: hidden;
  margin-left: 0;
}

.queue {
  float: none !important;
  margin-left: 0 !important;
}
