<div class="playlists">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <label for="titulo">
      Crear lista de reproducción
    </label>
    <input type="text" placeholder="Nombre de la lista..." formControlName="titulo">

    <button class="button" type="submit">Añadir</button>
  </form>
  <div *ngFor="let list of this.audioService.lists" class="box">
    <div [routerLink]="['/lists', list.ID]">
      <img class="albumArt" src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg" alt="albumart">
      <h3 [ngClass]="[favorite(list.Nombre)]">
        {{ list.Nombre }}
      </h3>
    </div>
    <button *ngIf="list.Nombre != 'Favoritas'" mat-button (click)="deleteList(list.ID)">
      <mat-icon mat-list-icon>delete</mat-icon>
    </button>
  </div>
</div>
