<div class="main">
    <h1>¡Hola {{ this.cloudService.userInfo.Nombre }}!</h1>

    <h3>Ultima cancion reproducida:
        <div class="last_song">
            <img src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
            La gozadera
        </div>
    </h3>

    <button class="listas" routerLink='/music/lists'>
      <span class="material-icons">
        list
      </span>
      Listas de reproduccion
    </button>

    <h2>Últimas canciones añadidas</h2>
    <div class="align">
      <button class="addAll" (click)="addToQueue()">
        <span class="material-icons">
          playlist_add
        </span>
        <p>Reproducir todas</p>
      </button>
    </div>
    <div class="listas">
      <div class="lista" *ngFor="let song of this.songs" (click)="this.audioService.loadList([song], 0, 'l')">
        <img class="albumArt" [src]="song.Imagen">
        <h4 mat-line>{{ song.Nombre }}</h4>
        <h5 mat-line>{{ song.Artistas }}</h5>
      </div>
    </div>

    <h2>Artistas suscritos</h2>

    <div class="listas">
      <div class="lista" *ngFor="let artist of this.audioService.subscribeArtists" [routerLink]="['/artist', artist.Nombre]">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71HAjhp38kL._SL1200_.jpg">
        <h3>{{ artist.Nombre }}</h3>
      </div>
    </div>

    <h2>Listas de reproduccion de categorías</h2>

    <div class="listas">
        <div class="lista" *ngFor="let cat of this.audioService.categories" [routerLink]="['/category', cat.Nombre]">
          <img [src]="cat.Imagen">
          <h3>{{ cat.Nombre }}</h3>
        </div>
    </div>
</div>
