body {
    background-color: #1d1d1d;
}

.main{
    margin-top: 1rem;
    margin-left: 1rem;
}

h1 {
    font-size: xx-large;
    margin-top: 1rem;
}

.last_song {
    display: inline;
    padding: 10px;
    padding-left: 0px;
    border: 1px solid #EEEEEE;
}

.last_song:hover {
    cursor: pointer;
}

.last_song img {
    height: 40px;
    width: 40px;
    vertical-align: middle;
}

.lista {
    display: inline-block;
    margin-left: 50px;
    margin-top: 30px;
    border: 1px solid #EEEEEE;
    //background-color: #4e4e4e;
}

.lista:hover{
    cursor:pointer;
}

.lista img {
    height: 200px;
    width: 200px;
}

.lista h3 {
    margin-left: 50px;
    margin-top: 20px;
}

.addAll {
  display: block;
  margin-bottom:10px;
}

.addAll p, .addAll .material-icons {
    padding-top: 10px;
}

button {
    background-color: #673AB7;
    border-radius: 4px;
    border: none;
    border-color: #673AB7;
    color: #ffffff;
    display: flex;
    padding: 0.5rem;
    align-items: center;
}

button:hover{
    cursor: pointer;
}

p{
    float: right;
}

.listas {
    margin-left: 1rem;
}